<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Data</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1>Add User In DataBase</h1>
    <form method="post" action="/NewUser">
      <input type="text" name="username" placeholder="Create Username..." />
      <input type="email" name="email" placeholder="Enter Email_ID..." />
      <input
        type="password"
        name="password"
        placeholder="Enter Secreate Password"
      />
      <button>Add User</button>
    </form>
  </body>
</html>
