body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 10px;
  background-color: #1c3144;

  color: aliceblue;
  font-weight: bolder;
}
.Home-Heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home-Navigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  border: none;
  padding: 10px;
  background-color: brown;
  text-decoration: none;
  color: aliceblue;
  font-weight: bolder;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  border-radius: 5px;
  font-size: 1rem;
}
.Action-button {
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.Action-button button {
  width: auto;
  font-size: 0.8rem;
  padding: 0px;
}
button {
  border-radius: 5px;
  background-color: brown;
  border: none;
  color: aliceblue;
  font-weight: bolder;
  font-size: 1rem;
  width: 100%;
  transition: all 0.3s ease-in;
}
form {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
input {
  width: 100%;
  padding: 10px;
  background-color: #596f62;
  color: aliceblue;
  font-weight: bolder;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
input::placeholder {
  color: aliceblue;
}
input:focus {
  border-color: #596f62; /* Changes border color when focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.Edit-Button {
  padding: 10px;
}
button:hover {
  background-color: rgba(165, 42, 42, 0.662);
}
button:active {
  background-color: rgba(207, 49, 49, 0.26);
}
a:hover {
  background-color: rgba(165, 42, 42, 0.662);
}

.Direct-DeleteForm {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Direct-DeleteForm input {
  padding: 10px;
  /* padding-right: 60px; leaves space for Show/Hide text */
  border: none;
  border-radius: 5px;
  background-color: #596f62;
  color: aliceblue;
  font-weight: bolder;
  font-size: 15px;
  outline: none;
}

#toggle-password {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  color: aliceblue;
  font-weight: bold;
  user-select: none;
}

#toggle-password:hover {
  text-decoration: underline;
}
